; Configuration file for third party software install locations and any
; software outside of the ergatis install path.
; Each section provides a set of variables corresponding to a component
; and so headers must correspond to component names. For example tokens
; under [component wu-blastp] will only be evaluated when running the wu-blastp
; component.  Tokens under any 'common' section will be evaluated for all
; components

;; common stuff first
[common shared]

[common inputs]
$;DB_DIR$;=/opt/database

;; components below
[component metagene]
$;METAGENE_EXEC$;=/opt/ergatis/software/mga_linux_ia64

[component tRNAscan-SE]
$;TRNASCANSE_EXEC$;=/opt/tRNAscan-SE/bin/tRNAscan-SE
$;TRNASCANSE_INSTALL$;=/opt/tRNAscan-SE

[component tRNAscan-SE_compress]
$;TRNASCANSE_EXEC$;=/opt/tRNAscan-SE/bin/tRNAscan-SE

;;custom component -Jaysheel D. Bhavsar

[component init-db]
$;INIT_DB_EXEC$;=/opt/ergatis/bin/init-db

[component reset-processing-db]
$;RESET_DB_EXEC$;=/opt/ergatis/bin/reset-processing-db

[component rRNA-scrub]
$;rRNA_EXEC$;=/opt/ergatis/bin/rRNA-scrub

[component db-load-library]
$;DBLOAD_LIBRARY_EXEC$;=/opt/ergatis/bin/db-load-library

[component sequence-prep]
$;SEQUENCE_PREP_EXEC$;=/opt/ergatis/bin/sequence-prep

[component sequence_relationship-prep]
$;SEQUENCE_RELATIONSHIP_PREP_EXEC$;=/opt/ergatis/bin/sequence_relationship-prep

[component tRNAScan-prep]
$;TRNASCAN_PREP_EXEC$;=/opt/ergatis/bin/tRNAScan-prep

[component metagene-prep]
$;METAGENE_PREP_EXEC$;=/opt/ergatis/bin/metagene-prep

[component blast-result-prep]
$;BLAST_RESULT_PREP_EXEC$;=/opt/ergatis/bin/blast-result-prep

[component db-to-lookup]
$;DB_TO_LOOKUP_EXEC$;=/opt/ergatis/bin/db-to-lookup

[component fxn-db-to-lookup]
$;FXN_DB_TO_LOOKUP_EXEC$;=/opt/ergatis/bin/fxn-db-to-lookup

[component db-upload]
$;DB_UPLOAD_EXEC$;=/opt/ergatis/bin/db-upload

[component split-tab-output]
$;SPLIT_TAB_OUTPUT_EXEC$;=/opt/ergatis/bin/split-tab-output

[component mga2seq_pep]
$;MGA2SEQ_PEP_EXEC$;=/opt/ergatis/bin/mga2seq_pep

[component cd-hit]
$;CD_HIT_EXEC$;=/opt/ergatis/software/cd-hit-v4.6.1-2012-08-27/cd-hit

[component derep-blast-output]
$;DEREP_BLAST_EXEC$;=/opt/ergatis/bin/derep-blast-output

[component clean_expand_btab]
$;CLEAN_EXPAND_BTAB_EXEC$; = /opt/ergatis/bin/clean_expand_btab

;;Shawn - custom components
[component btabTrim]
$;BTABTRIM_EXEC$; = /opt/ergatis/bin/btabTrim

;;Anagha - custom components
[component seq_length_check]
$;SEQ_LENGTH_EXEC$; = /opt/ergatis/bin/seq_length_check.sh

;;Anagha - custom components
[component nt_fasta_check]
$;NT_FASTA_CHECK$; = /opt/ergatis/bin/nt_fasta_check

;;Anagha - custom components
[component db_no_hit]
$;DB_NO_HIT$; = /opt/ergatis/bin/db_no_hit.sh

[component cd-hit-454]
$;CD_HIT_454_EXEC$; = /opt/ergatis/software/cd-hit-v4.6.1-2012-08-27/cd-hit-454

[component gen_lib_stats]
$;GEN_LIB_STATS$; = /opt/ergatis/bin/gen_lib_stats

[component env_lib_stats]
$;ENV_LIB_STATS$; = /opt/ergatis/bin/env_lib_stats

[component fxnal_bin_per_db]
$;FXNAL_BIN_PER_DB$; = /opt/ergatis/bin/fxnal_bin_per_db

[component fxnal_bin_all_db]
$;FXNAL_BIN_ALL_DB$; = /opt/ergatis/bin/fxnal_bin_all_db

[component libraryHistogram]
$;LIBRARY_HISTOGRAM$; = /opt/ergatis/bin/libraryHistogram

;;[component taxonomay_binning]
;;$;TAXONOMY_BINNING$; = /opt/ergatis/bin/taxonomy_binning

;;[component sequence_classification]
;;$;SEQUENCE_CLASSIFICATION$; = /opt/ergatis/bin/sequence_classification

;;[component orfan]
;;$;ORFAN$; = /opt/ergatis/bin/orfan

;;Shulie   components
[component QC_filter]
$;QC_FILTER$; = /opt/ergatis/bin/QC_filter

[component btabTrimMGOL]
$;BTABTRIMMGOL_EXEC$; = /opt/ergatis/bin/btabTrimMGOL

[component blast2btab]
$;BLAST2BTAB_EXEC$; = /opt/ergatis/bin/wu-blast2btab

[component viromeorf-prep]
$;VIROMEORF_PREP_EXEC$; = /opt/ergatis/bin/viromeorf-prep

;;Nasko - Custom Components
[component rubble]
$;RUBBLE$;=/opt/ergatis/bin/rubble

[component cluster_restrict_blast_parse]
$;CLUSTER_RESTRICT_BLAST_PARSE$;=/opt/ergatis/bin/cluster_restrict_blast_parse

[component split_btab]
$;SPLITBTAB$;=/opt/ergatis/bin/split_btab

[component btab2viromebtab]
$;BTAB2VIROMEBTAB$;=/opt/ergatis/bin/btab2viromebtab

[component concatenate_files]
$;CONCATENATE_FILES$;=/opt/ergatis/bin/concatenate_files

[component publish_checkin]
$;PUBLISH_CHECKIN$;=/opt/ergatis/bin/publish_checkin

[component fastq2fastaqual]
$;FASTQ2FASTAQUAL$;=/opt/ergatis/bin/fastq2fastaqual

[component fasta_size_filter]
$;FASTA_SIZE_FILTER$;=/opt/ergatis/bin/fasta_size_filter

[component archiver_and_dumper]
$;ARCHIVER_AND_DUMPER_EXEC$;=/opt/ergatis/bin/archiver_and_dumper

[component inspector]
$;INSPEC_EXEC$;=/opt/ergatis/bin/inspector

[component fastaQual2fastq]
$;FASTAQUAL2FASTQ_EXEC$;=/opt/ergatis/bin/fastaQual2fastq

[component archive_virome_pipeline]
$;ARCHIVE_VIROME_PIPELINE$;=/opt/ergatis/bin/archive_virome_pipeline

[component ncbi-blastp-plus]
$;BLASTP2226_EXEC$;=/opt/ergatis/software/ncbi-blast-2.2.28+/bin/blastp

[component ncbi-blastp-plus-fast]
$;BLASTP23_EXEC$;=/opt/ergatis/virome/software/ncbi-blast-2.3.0+-src/bin/blastp

[component ncbi-blastn-plus]
$;BLASTN2226_EXEC$;=/opt/ergatis/software/ncbi-blast-2.2.28+/bin/blastn

[component reset_db]
$;RESET_DB$;=/opt/ergatis/bin/reset_db

[component dump_db]
$;DUMP_DB$;=/opt/ergatis/bin/dump_db

[component transfer_checkin]
$;TRANSFER_CHECKIN$;=/opt/ergatis/bin/transfer_checkin

[component import_library_from_archive]
$;IMPORT_LIBRARY_FROM_ARCHIVE$;=/opt/ergatis/bin/import_library_from_archive
